.settings/**
bin/**
build/**
conf/**
docs/**
logs/**
obj/**
src/*.js
src/*.js.map
lib/app.js
lib/app.js.map
lib/debug_command.js
lib/debug_command.js.map
lib/watch.js
lib/watch.js.map
src/app.ts
src/debug_command.ts
src/watch.ts
test/**
TestResults/**
.ntvs_analysis.dat
*.ts_
binding.gyp
*.njsproj
*.sln
*.suo
Gruntfile.js
lldb-mi-log.txt
