.settings/**
bin/**
build/**
conf/**
docs/**
logs/**
obj/**
src/*.js
src/*.js.map
src/app.ts
src/debug_command.ts
src/watch.ts
test/**
TestResults/**
.ntvs_analysis.dat
*.ts_
binding.gyp
*.nsproj
*.sln
*.suo
Gruntfile.js
lldb-mi-log.txt
